<h1>Форма добавления маршрута</h1>

{{!-- <form action="/posts/add" method="POST">
  <input type="text" name="title" value="" placeholder="Название маршрута"><br>
  <input type="text" name="start" value="" placeholder="Начало маршрута"><br>
  <input type="text" name="finish" value="" placeholder="Конец маршрута"><br>
  <input type="text" name="location" value="" placeholder="Населенный пункт"><br>
  <input type="text" name="lengthRoad" value="" placeholder="Растояние"><br>
  <input type="hidden" name="user_id"  value="{{user.ids}}" placeholder="Растояние"><br>

  <button type="submit">Ok</button> --}}

</form>
<div class="row">

  <div class='col m-5'>
    <center>
    <div id='map' class='map'></div>
    <script src='https://api-maps.yandex.ru/2.1/?apikey=75ff8d8f-55b5-40d7-afee-fd53548eedff&lang=ru_RU'></script>
    {{!-- <script src='/application/map.js'></script> --}}
  

    </center>
  </div>

  <div class="col">

    <main class="form-signin">

      <form action="/posts/add" method="post">

        {{!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> --}}
        <center>
          <h1 style="padding-top: 50%" ; class="h3 mb-3 fw-normal">Добавьте свой маршрут</h1>
        </center>

        <div class="form-floating">
          <input type="text" name="title" class="form-control" data-title="title" placeholder="" id="floatingInput" required>
          <label for="floatingInput">Название</label>
        </div>
        <div class="form-floating">
          <input type="text" name="location" class="form-control" id="floatingPassword" required>
          <label for="floatingPassword">Город</label>
        </div>
        <div class="form-floating">
          <input type="text" name="start" class="form-control" id="floatingPassword">
          <label for="floatingPassword">Начало
          </label>
        </div>
        <div class="form-floating">
          <input type="text" name="finish" class="form-control" id="floatingPassword">
          <label for="floatingPassword">Конец</label>
        </div>
        <div class="form-floating">
          <input type="text" name="lengthRoad" class="form-control" id="floatingPassword" readonly="readonly">
          <label for="floatingPassword">Длина</label>
            <input type="hidden" name="user_id"  value="{{user.ids}}" placeholder="Растояние"><br>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Добавить</button>

      </form>
<div>
  {{!-- <div id='map' class='mapForRouteInfo'></div>
      <script src="https://api-maps.yandex.ru/2.1/?apikey=75ff8d8f-55b5-40d7-afee-fd53548eedff&lang=ru_RU"></script>
      <script src="/js/map.js"></script>
</div> --}}
    </main>

  </div>

</div>
