<h1>Вход</h1>
{{ error }}
<form action="/user" method="POST">
   <input type="text" name="email" value="" placeholder="Ваша почта"><br>
   <input type="password" name="password" value="" placeholder="Ваш пароль"><br>
   <input type="submit" value="Войти на сайт">
</form>
